<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="audiofile">Select Audio File:</label>
        <input type="file" name="audiofile" id="audiofile" accept=".wav, .mp3, .m4a" required>
        <button type="submit">Upload and Process</button>
    </form>
</body>
</html>
